@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 3, 7, 32;
    --background-end-rgb: 1, 1, 5;
  }
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 7, 32;
  --background-end-rgb: 1, 1, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  font-family: 'Lobster', cursive;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
}